<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <h1 class="mt-2 mb-4 fs-2" style="text-align:center;">Sign in</h1>

      <div class="form-floating mb-3">
        <input 
          class="form-control" 
          id="floatingInput" 
          name="username" 
          formControlName="username" 
          placeholder="Username"
          [ngClass]="{'is-invalid': submitted && f['username'].errors}">

        <label for="floatingInput">Username</label>
        @if (submitted && f['username'].errors) {
        <div class="invalid-feedback">
          @if (f['username'].errors['required']) {
          <div>Username is required</div>
          }
        </div>
        }
      </div>
      <div class="form-floating mb-4">
        <input 
          type="password" 
          class="form-control" 
          id="floatingPassword" 
          name="password" 
          formControlName="password"
          placeholder="Password" 
          [ngClass]="{'is-invalid': submitted && f['password'].errors}">

        <label for="floatingPassword">Password</label>
        @if (submitted && f['password'].errors) {
        <div class="invalid-feedback">
          @if (f['password'].errors['required']) {
          <div>Password is required</div>
          }
        </div>
        }
      </div>

      <button class="btn btn-success w-100 py-2" type="submit" [disabled]="loading">
        <span *ngIf="!loading">Sign in</span>
        <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
        </div>
      </button>
    </form>
  </div>
</div>